<div (click)="showAlert()">Test</div>
<h1 class="uk-heading-medium">Countdown zur Zwischenpräsentation</h1>
<div class="uk-grid-small uk-child-width-auto uk-margin" uk-grid uk-countdown="date: 2021-03-18T00:00:00+00:00">
    <div>
        <div class="uk-countdown-number uk-countdown-days"></div>
    </div>
    <div>
        <div class="uk-countdown-number uk-countdown-hours"></div>
    </div>
    <div>
        <div class="uk-countdown-number uk-countdown-minutes"></div>
    </div>
    <div>
        <div class="uk-countdown-number uk-countdown-seconds"></div>
    </div>
</div>
