<nav class="uk-navbar-container uk-margin-large-bottom" uk-navbar>

  <div class="uk-navbar-left">

    <a class="uk-navbar-item uk-logo" href="#">Cash Money Brothers KG</a>

    <ul class="uk-navbar-nav">
      <li routerLinkActive="uk-active"><a [routerLink]="['/home']">Home</a></li>
    </ul>

  </div>

  <div class="uk-navbar-right">

    <ul class="uk-navbar-nav">
      <li routerLinkActive="uk-active"><a [routerLink]="['/trade']">Handel</a></li>
      <li routerLinkActive="uk-active"><a [routerLink]="['/depot']">Depot</a></li>
      <li routerLinkActive="uk-active"><a [routerLink]="['/history']">Historie</a></li>
      <li routerLinkActive="uk-active"><a [routerLink]="['/profile']">Profil</a></li>
    </ul>

    <div class="uk-navbar-item">
      <button class="uk-button uk-button-primary uk-button-small" (click)="onLogoutPressed()">Abmelden</button>
    </div>

  </div>

</nav>
