<div class="uk-container uk-width-3-4@m uk-width-1-1@s">
    <div uk-grid>
        <div class="uk-card uk-card-default uk-width-3-5@m">
            <div class="uk-card-header">
                <h3 class="uk-card-title">Aktienname</h3>
            </div>

            <div class="uk-card-body">

                <form [formGroup]="buyForm" class="uk-form-stacked uk-grid-small" uk-grid (ngSubmit)="onBuySubmit()">
                    <div class="uk-margin uk-width-1-1">
                        <label class="uk-form-label" for="depotSelect">Depot</label>
                        <select class="uk-select" id="depotSelect" formControlName="depot" (change)="onDepotSelected($event)">
                            <option *ngFor="let depot of depotArray" [value]="depot.depotId">{{depot.name}}</option>
                        </select>
                    </div>
                    <div class="uk-margin uk-width-1-2">
                        <label class="uk-form-label" for="orderType">Order-Art*</label>
                        <select #orderType class="uk-select" id="orderType" (change)="onOrderTypeSelected($event)">
                            <option *ngFor="let orderType of orderTypesArray" [value]="orderType.value">{{orderType.name}}</option>
                        </select>
                    </div>
                    <div class="uk-margin uk-width-1-2">
                        <div *ngIf="selectedOrderType !== 'stopPrice' && selectedOrderType !== 'limitPrice'">
                            <label class="uk-form-label" for="orderPrice">Order-Preis</label>
                            <input class="uk-input" id="orderPrice" type="number" disabled
                                value={{share.lastRecordedValue}}>
                        </div>
                        <div *ngIf="selectedOrderType === 'limitPrice'; else second">
                            <label class="uk-form-label" for="orderPrice">Order-Preis</label>
                            <input class="uk-input" id="orderPrice" type="number" formControlName="limitPrice">
                        </div>
                        <ng-template #second>
                            <div *ngIf="selectedOrderType === 'stopPrice'" uk-grid>
                                <div class="uk-margin uk-width-1-2">
                                    <label class="uk-form-label" for="minimum">Minimum</label>
                                    <input class="uk-input" type="number" id="minimum" formControlName="minPrice">
                                </div>
                                <div class="uk-width-1-2">
                                    <label class="uk-form-label" for="maximum">Maximum</label>
                                    <input class="uk-input" type="number" id="maximum" formControlName="maxPrice">
                                </div>
                            </div>
                        </ng-template>
                    </div>
                    <div class="uk-margin uk-width-1-2">
                        <label class="uk-form-label" for="expiredDateSelect">Gültig bis</label>
                        <select class="uk-select" id="expiredDateSelect" formControlName="dateOfExpiry" (change)="onExpiredDateSelected($event)">
                            <option *ngFor="let expiredDate of expiredDateArray" [value]="expiredDate.value">
                                {{expiredDate.name}}</option>
                        </select>
                    </div>

                    <div class="uk-margin uk-width-1-2">
                        <label class="uk-form-label" for="algorithmicTradingType">Algorithmisches Handeln:</label>
                        <select class="uk-select" id="algorithmicTradingType" formControlName="algorithmicTradingType">
                            <option [value]="metaConst.ALGORITHMS.NO_ALG">Kein Algorithmus</option>
                            <option [value]="metaConst.ALGORITHMS.SPLIT_ALG">Split Algorithmus</option>
                        </select>
                    </div>

                    <div class="uk-margin uk-form-controls uk-width-2-5@s">
                        <label class="uk-form-label" for="numberOfShares">Anzahl der Aktien (in Stk.)</label>
                        <input class="uk-input" type="number" id="numberOfShares" (keyup)="calculateSharePrice($event)" (change)="calculateSharePrice($event)"
                            formControlName="numberOfShares">
                    </div>

                    <div class="uk-margin uk-width-1-5@s">
                        <label class="uk-form-label" for="equal">&nbsp;</label>
                        <div class="uk-input input-equal" id="equal"><i class="fas fa-equals"></i></div>
                    </div>

                    <div class="uk-margin uk-width-2-5@s">
                        <label class="uk-form-label" for="number">Wert der Aktien (in €)</label>
                        <input class="uk-input" type="number" id="sharePrice" value={{sharePrice}}
                            formControlName="sharePrice">
                    </div>


                    <div class="uk-margin uk-width-1-2">
                        <button class="uk-button" (click)="cancel()">Abbrechen</button>
                    </div>
                    <div class="uk-margin uk-width-1-2">
                        <!-- TODO: correct validation -->
                        <button class="uk-button uk-button-primary uk-align-right" type="submit" href="#modal-center"
                            uk-toggle [disabled]="buyForm.controls.numberOfShares.invalid">Kaufen</button>
                    </div>
                </form>

                <div id="modal-center" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">Weiter?</h2>
                        </div>
                        <div class="uk-modal-body">
                            <table class="uk-table uk-table-striped">
                                <thead>
                                    <tr>
                                        <th>Table Heading</th>
                                        <th>Table Heading</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Depot:</td>
                                        <td>{{depotName}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Order Art:</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Gültig bis:</td>
                                        <td>{{dateName}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Anzahl der Aktien:</td>
                                        <td>{{buyForm.controls.numberOfShares.value}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Wert der Aktien:</td>
                                        <td>{{sharePrice}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Algorithmisches Handeln</td>
                                        <td> {{algorithmName}}  </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="uk-modal-footer uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close"
                                    type="button">Abbrechen</button>
                                <button class="uk-button uk-button-primary" type="button">Weiter</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="uk-card uk-width-2-5@l">
            <div class="uk-card-header">
                <h3 class="uk-card-title">Statistik</h3>
            </div>
            <div class="uk-card-body">
                <div echarts [options]="chartOption" class="demo-chart"></div>
                <div>Aktienkurs</div>
                <div>Du besitzt xxx Aktien im Wert von xxx €</div>
            </div>
        </div>
    </div>
</div>