<div class="uk-container">
    <form class="uk-form">
        <select class="uk-select" >
            <option>Markt-Preis</option>
            <option>Limit-Preis</option>
            <option>Stop-Preis</option>

        </select>
        <select class="uk-select" data-uk-datepicker="{ format:'DD.MM.YYYY'}">
            

        </select>
        <input class="uk-input" type="text" data-uk-datepicker="{ format:'DD.MM.YYYY'}">
        <input class="uk-input">
        <input class="uk-input">

    </form>
</div>

