<div class="uk-section">
  <div class="uk-container">
    <h3>Deine beliebtesten Aktien</h3>
    <div echarts [options]="chartOption" class="demo-chart"></div>
  </div>
</div>
<div class="uk-section">
  <div class="uk-container">
    <h3>Dein Depot</h3>
    <div class="uk-grid-small uk-child-width-1-3 ">
      <div class="uk-card uk-card-primary uk-card-medium uk-padding-small">
        <h3 class="uk-card-title  class=uk-align-left">Aktuelles Portfolio</h3>
        <div class="uk-grid">
          <div class="uk-width-1-2">
            <p>Aktueller Wert:</p>
          </div>
          <div class="uk-width-1-2">
            <p class="uk-align-right">20 000</p>
          </div>
          <div class="uk-width-1-2">
            <p>Aktueller Wert:</p>
          </div>
          <div class="uk-width-1-2">
            <p class="uk-align-right">20 000</p>
          </div>
        </div>
        <hr>
        <div class="uk-grid">
          <div class="uk-width-1-2">
            <p>Aktueller Wert:</p>
          </div>
          <div class="uk-width-1-2">
            <p class="uk-align-right">20 000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
