<div class="uk-container">
  <table class="uk-table uk-table-striped">
    <thead>
      <tr>
        <th>Aktienname</th>
        <th>WKN / ISIN</th>
        <th>Wert</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let share of shareArray">
        <tr>
          <td>{{share.shareName}}</td>
          <td>{{share.wkn}} / {{share.isin}}</td>
          <td>{{share.lastRecordedValue}} {{share.currencyCode}}</td>
        </tr>
      </ng-container>


    </tbody>
  </table>
</div>
