<div class="uk-container">
  <h2 class="uk-align-left uk-h3">Aktienname</h2>
  <h3 class="uk-align-left uk-h3 ">Aktienbeschreibung</h3>

  <a class="uk-button uk-button-primary default uk-align-right" [routerLink]="['/buy']">Aktien kaufen</a>

  <a class="uk-button uk-button-primary uk-align-right" [routerLink]="['/buy']">Aktien verkaufen</a>
  <h3 class=" uk-align-right uk-h3 ">Aktienbestand: 1000</h3>



</div>
<div class="uk-container">
  <hr>
</div>


<div class="uk-container">
  <div echarts [options]="chartOption" class="demo-chart"></div>

</div>
<div class="uk-container">
  <hr>
</div>
<div class="uk-container uk-margin-small">
  <h2 class="uk-align-left">Statistik</h2>
  <a class="uk-button uk-button-primary default uk-align-right" href="#">Liquiditätsspender werden</a>
</div>
<div class="uk-container">
  <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
    <div class="uk-card uk-margin-left">
      <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
        <ul class="uk-subnav-divider">
          <li>
            <p>Hello again</p>

          </li>
          <li>
            <p>Hello again</p>

          </li>
          <li>
            <p>Hello </p>

          </li>
        </ul>
        <ul class="uk-subnav-divider">
          <li>
            <p>Hello back</p>

          </li>
          <li>
            <p>Hello back</p>

          </li>
          <li>
            <p>Hello again</p>

          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
