<div class="uk-container">
  <h2 class="uk-align-left uk-h3">{{share?.shareName}}</h2>

  <a class="uk-button uk-button-primary uk-align-right" [routerLink]="['/buy', share?.shareId]">Aktien kaufen</a>

  <a class="uk-button uk-button-primary uk-align-right" [routerLink]="['/sell', share?.shareId]">Aktien verkaufen</a>

</div>

<div class="uk-container">
  <hr>
</div>

<div *ngIf="dataAvailable == 3">
    <div class="uk-container">
      <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
</div>
<div *ngIf="dataAvailable == 2">
  <div class="uk-container">
    <div uk-switcher="animation: uk-animation-fade; toggle: > *" class="uk-align-right">
      <button class="uk-button uk-button-default" type="button" (click)="changeView($event)" id="history">History</button>
      <button class="uk-button uk-button-default" type="button" (click)="changeView($event)" id="today">Today</button>
    </div>
  </div>
  <div *ngIf="dayView">
  <div class="uk-container">
    <div echarts [options]="dayChartOption" class="demo-chart"></div>
  </div>
  </div>
  <div *ngIf="!dayView">
    <div class="uk-container">
      <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
    </div>
</div>
<div *ngIf="dataAvailable == 1">
  <div class="uk-container">
    <div echarts [options]="dayChartOption" class="demo-chart"></div>
  </div>
</div>
<div *ngIf="dataAvailable == 0">
  <div class="uk-container">
    <h2 class="uk-align-left">No Data Available!</h2>
  </div>
</div>


<div class="uk-container">
  <hr>
</div>
<div class="uk-container uk-margin-small">
  <h2 class="uk-align-left">Statistik</h2>
  <a class="uk-button uk-button-primary default uk-align-right" href="#">Liquiditätsspender werden</a>
</div>
<div class="uk-container">
  <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
    <div class="uk-card uk-margin-left">
      <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
        <ul class="uk-subnav-divider">
          <li>
            <p>Aktueller Kurs:</p>
          </li>
          <li>
            <p>Veränderung</p>
          </li>
          <li>
            <p>Veränderung in %:</p>
          </li>
        </ul>
        <ul class="uk-subnav-divider">
          <li>
            <p>{{share?.lastRecordedValue}}</p>
          </li>
          <li>
            <p>1,40 EUR</p>
          </li>
          <li>
            <p>0,50 %</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
