<div class="uk-card uk-card-default uk-card-body uk-card-medium uk-padding-small ">
  <h3 class="uk-card-title u-align-left  uk-margin-remove-bottom">SAP
  </h3>
  <p class=" uk-text-meta uk-margin-remove-top">WKN</p>

  <div class="uk-grid">
    <div class="uk-text-bold uk-width-1-2 uk-margin-bottom-small">
      <p>Anzahl der Aktien im Depot</p>
    </div>
    <div class="uk-width-1-2 uk-margin-bottom-small">
      <!-- <p class="uk-align-right">{{ position.amount | number: '.' | removeComma}}</p> -->
      <p class="uk-align-right">asdfasf</p>
    </div>
    <div class="uk-width-3-5 uk-text-bold uk-margin-bottom-small">
      <p> Aktueller Wert einer Aktie</p>
    </div>
    <div class="uk-width-2-5 uk-margin-bottom-small">
      <!-- <p class="uk-align-right">{{ position.share.lastRecordedValue | number: '.2-2' |
                  removeComma}} {{
                  position.share.currencyCode }}</p> -->
      <p class="uk-align-right">Bla</p>
    </div>
    <hr class="uk-width-1-1 uk-align-right uk-margin-small">
    <div class="uk-width-1-2 uk-text-bold uk-margin-bottom-small">
      <p>Aktienwert im Depot</p>
    </div>
    <div class="uk-width-1-2 uk-margin-bottom-small">
      <!-- <p class="uk-align-right">{{position.currentValue | number: '.2-2' | removeComma}} {{position.share.currencyCode}}</p> -->
      <p class="uk-align-right">Bla</p>
    </div>

    <div class="uk-width-1-2 uk-text-bold uk-margin-bottom-small">
      <p>Investierter Wert</p>
    </div>
    <div class="uk-width-1-2 uk-margin-bottom-small">
      <!-- <p class="uk-align-right">{{ position.costValue | number: '.2-2' | removeComma }} {{
position.share.currencyCode }}</p> -->
      <p class="uk-align-right">bla</p>
    </div>
    <hr class="uk-width-1-1 uk-align-right uk-margin-small">
    <div class="uk-width-1-2 uk-text-bold uk-margin-bottom-small">
      <p>Gewinn</p>
    </div>
    <div class="uk-width-1-2 uk-margin-bottom-small">
      <!-- <p class="uk-align-right">{{ position.profit | number: '.2-2' | removeComma }}
          {{
                  position.share.currencyCode }}</p> -->
      <p class="uk-align-right">bla</p>
    </div>

    <div class="uk-width-1-2 uk-text-bold uk-margin-bottom-small">
      <p>Gewinn in %</p>
    </div>
    <div class="uk-width-1-2 uk-margin-bottom-small">
      <!-- <p class="uk-align-right">{{ position.percentageChange }} %</p> -->

    </div>
  </div>
</div>
