<div class="uk-container">
    <ul class="uk-subnav uk-subnav-pill uk-flex-around" uk-switcher>
        <li><a href="#">Offene Transaktionen</a></li>
        <li><a href="#">Ausgeführt</a></li>
        <li><a href="#">Abgelaufen</a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
        <!-- Offene Transaktionen -->
        <li>
            <table class="uk-table uk-table-divider">

                <thead>
                    <tr>
                        <th>Aktion</th>
                        <th>Unternehmen</th>
                        <th>Aktionenanzahl</th>
                        <th>Preis</th>
                        <th>Order-Preis</th>
                        <th>Gültig bis</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>

                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>

                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>

                    </tr>
                </tbody>
            </table>

        </li>
        <!-- Ausgeführt -->

        <li>

            <table class="uk-table uk-table-divider">

                <thead>
                    <tr>
                        <th>Aktion</th>
                        <th>Unternehmen</th>
                        <th>Aktionenanzahl</th>
                        <th>Ordernummer</th>
                        <th>Datum</th>
                    </tr>
                </thead>
             
                <tbody>
                    <tr>
                        <td>Kauf</td>
                        <td>Testunternehmen 1</td>
                        <td>5</td>
                        <td>5649884</td>
                        <td>20.04.2021</td>
                    </tr>
                    <tr>
                        <td>Verkauf</td>
                        <td>Testunternehmen 1</td>
                        <td>10</td>
                        <td>6546589</td>
                        <td>20.04.2021</td>
                    </tr>
                    <tr>
                        <td>Verkauf</td>
                        <td>Testunternehmen 2</td>
                        <td>5</td>
                        <td>6546549</td>
                        <td>20.04.2021</td>
                    </tr>
                </tbody>
            </table>

        </li>
        <!-- Abgelaufen -->

        <li>

            <table class="uk-table uk-table-divider">

                <thead>
                    <tr>
                        <th>Aktion</th>
                        <th>Unternehmen</th>
                        <th>Aktionenanzahl</th>
                        <th>Preis</th>
                        <th>Ordernummer</th>
                        <th>Datum</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>

                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>

                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>

                    </tr>
                </tbody>
            </table>

        </li>
    </ul>

</div>