<nav class="uk-navbar-container" uk-navbar>

  <div class="uk-navbar-left">

    <a class="uk-navbar-item uk-logo" href="#">Cash Money Brothers KG</a>

    <ul class="uk-navbar-nav">
      <li><a [routerLink]="['/routePath']" routerLinkActive="uk-active">Home</a></li>
    </ul>

  </div>

  <div class="uk-navbar-right">

    <ul class="uk-navbar-nav">
      <li><a [routerLink]="['/routePath']" routerLinkActive="uk-active">Handel</a></li>
      <li><a [routerLink]="['/routePath']" routerLinkActive="uk-active">Depot</a></li>
      <li><a [routerLink]="['/routePath']" routerLinkActive="uk-active">Historie</a></li>
      <li><a [routerLink]="['/routePath']" routerLinkActive="uk-active">Profil</a></li>
    </ul>

  </div>

</nav>
