<div class="uk-container">
    <ul class="uk-subnav uk-subnav-pill uk-flex-around" uk-switcher="animation: uk-animation-fade">
        <li><a href="#">Aktienbestand</a></li>
        <li><a href="#">Laufende Aufträge</a></li>
        <li><a href="#">Abgeschlossene Aufträge</a></li>
    </ul>
    <ul class="uk-switcher uk-margin">
        <li>
            <ng-container *ngIf="positionArray.length > 0; else elseShareBlock">
                <div class="uk-container">
                    <div class=" uk-child-width-1-3@s uk-grid-small" uk-grid>
                        <div class="uk-width-1-3@m">
                            <div echarts [options]="pieChartOption" class="demo-chart "></div>
                        </div>
                        <div class="uk-width-2-3@m">
                            <div echarts [options]="chartOption" class="demo-chart "></div>
                        </div>
                    </div>
                </div>
                <div class="uk-child-width-1-2@s uk-grid-small  " uk-grid>
                    <div *ngFor="let position of positionArray">
                        <div class="uk-card uk-card-default uk-card-body uk-card-medium uk-padding-small">
                            <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
                                <div class="uk-width-3-5">
                                    <h3 class="uk-card-title u-align-left  uk-margin-remove-bottom ">{{
                                        position.share.shareName}}
                                    </h3>
                                    <p class=" uk-text-meta uk-margin-remove-top">{{ position.share.wkn}}</p>
                                </div>
                                <button
                                    class="uk-button-small uk-button-primary uk-width-2-5 uk-margin-small uk-text-bold"
                                    type="submit" (click)="openModalLp(position)" href="#modal-lp"
                                    uk-toggle>Liquiditätsspender
                                    werden</button>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-text-bold uk-width-1-2 uk-margin-bottom-small">
                                    <p>Anzahl der Aktien im Depot</p>
                                </div>
                                <div class="uk-width-1-2 uk-margin-bottom-small">
                                    <p class="uk-align-right">{{ position.amount | number: '.' | removeComma}} STK</p>
                                </div>
                                <div class="uk-width-3-5 uk-text-bold uk-margin-bottom-small">
                                    <p> Aktueller Wert einer Aktie</p>
                                </div>
                                <div class="uk-width-2-5 uk-margin-bottom-small">
                                    <p class="uk-align-right">{{ position.share.lastRecordedValue | number: '.2-2' |
                                        removeComma}} {{
                                        position.share.currencyCode }}</p>
                                </div>
                                <hr class="uk-width-1-1 uk-align-right uk-margin-small">
                                <div class="uk-width-1-2 uk-text-bold uk-margin-bottom-small">
                                    <p>Aktienwert im Depot</p>
                                </div>
                                <div class="uk-width-1-2 uk-margin-bottom-small">
                                    <p class="uk-align-right">{{ position.currentValue | number: '.2-2' | removeComma}}
                                        {{
                                        position.share.currencyCode }}
                                    </p>
                                </div>
                                <div class="uk-width-1-2 uk-text-bold uk-margin-bottom-small">
                                    <p>Investierter Wert</p>
                                </div>
                                <div class="uk-width-1-2 uk-margin-bottom-small">
                                    <p class="uk-align-right">{{ position.costValue | number: '.2-2' | removeComma }} {{
                                        position.share.currencyCode }}</p>
                                </div>
                                <hr class="uk-width-1-1 uk-align-right uk-margin-small">
                                <div class="uk-width-1-2 uk-text-bold uk-margin-bottom-small">
                                    <p>Gewinn</p>
                                </div>
                                <div class="uk-width-1-2 uk-margin-bottom-small">
                                    <p class="uk-align-right">{{ position.profit | number: '.2-2' | removeComma }}
                                        {{
                                        position.share.currencyCode }}</p>
                                </div>
                                <div class="uk-width-1-2 uk-text-bold uk-margin-bottom">
                                    <p>Gewinn in %</p>
                                </div>
                                <div class="uk-width-1-2 uk-margin-bottom">
                                    <p class="uk-align-right">{{ position.percentageChange }} %</p>
                                </div>
                                <hr class="uk-width-1-1 uk-align-right uk-margin-small">
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>         
        </li>

        <li>
            <table  *ngIf="jobWrapperArray.length > 0; else elseOpenContractBlock" class="uk-table uk-table-divider">
                <thead>
                    <tr>
                        <th>Auftragstyp</th>
                        <th>Aktienname</th>
                        <th>Order-ID</th>
                        <th>Order-Art</th>
                        <th>Anzahl</th>
                        <th>Preis pro Aktie</th>
                        <th>Ablaufdatum</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let jobWrapper of jobWrapperArray">
                        <td>{{jobWrapper.jobType}}</td>
                        <td>{{jobWrapper.share.shareName}}</td>
                        <td>{{jobWrapper.exchangeOrderId}}</td>
                        <td>{{jobWrapper.detail}}</td>
                        <td>platzhalter</td>
                        <td>platzhalter</td>
                        <td>{{jobWrapper.orderValidity | date:'dd.MM.yyyy'}}</td>
                        <td><button class="uk-button uk-button-primary"
                                (click)="cancelJobWrapper(jobWrapper.exchangeOrderId)">Löschen</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        
        <li>
            <table *ngIf="returnShareOrderArray.length > 0; else elseShareOrderBlock" class="uk-table uk-table-divider">
                <thead>
                    <tr>
                        <th>Auftragstyp</th>
                        <th>Aktienname</th>
                        <th>Order-Art</th>
                        <th>Anzahl</th>
                        <th>Preis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let returnShareOrder of returnShareOrderArray">
                        <td>{{returnShareOrder.type}}</td>
                        <td>{{returnShareOrder.share.shareName}}</td>
                        <td>{{returnShareOrder.detail}}</td>
                        <td>{{returnShareOrder.amount | number: '.' | removeComma}}</td>
                        <td *ngIf="returnShareOrder.limit !== null; elseIfBlock">{{returnShareOrder?.limit}}</td>
                        <ng-template>
                            <td *ngIf="returnShareOrder.stop !== null; elseBlock" #elseIfBlock>
                                {{returnShareOrder?.stop}}</td>
                        </ng-template>
                        <ng-template>
                            <td *ngIf="returnShareOrder.stopLimit !== null" #elseBlock>{{returnShareOrder?.stopLimit}}
                            </td>
                        </ng-template>
                        <td>1234</td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>

<ng-template #elseShareBlock>
    <div class="uk-container">
        <div>
            <div class="uk-card uk-position-center uk-card-body uk-card-default uk-text-center">
                <h3 class="uk-card-title">{{ depot?.name }}</h3>
                <p>In diesem Depot befinden sich gerade keine Aktien. Sie können gerne neue Aktien kaufen.
                </p>
                <button class="uk-button uk-button-primary " [routerLink]="['/trade']">Aktien
                    kaufen</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #elseOpenContractBlock>
    <li>
        <div class="uk-container">
            <div>
                <div class="uk-card uk-position-center uk-card-body uk-card-default uk-text-center">
                    <h3 class="uk-card-title">{{ depot?.name }}</h3>
                    <p>Sie haben aktuell keine laufenden Aufträge in dem Depot {{ depot?.name }}.
                    </p>
                    <button class="uk-button uk-button-primary " [routerLink]="['/trade']">Aktien
                        kaufen</button>
                </div>
            </div>
        </div>
    </li>
</ng-template>

<ng-template #elseShareOrderBlock>
    <li>
        <div class="uk-container">
            <div>
                <div class="uk-card uk-position-center uk-card-body uk-card-default uk-text-center">
                    <h3 class="uk-card-title">{{ depot?.name }}</h3>
                    <p>Sie haben in Depot {{ depot?.name }} noch keine Aufträge abgeschlossen.
                    </p>
                    <button class="uk-button uk-button-primary " [routerLink]="['/trade']">Aktien
                        kaufen</button>
                </div>
            </div>
        </div>
    </li>
</ng-template>

<div id="modal-lp" class="uk-flex-top" uk-modal>
    <div *ngIf="positionModalLp != undefined" class="uk-modal-dialog uk-width-3-5@m uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Weiter?</h2>
        </div>
        <div class="uk-modal-body">
            <div class="uk-child-width-1-2@s uk-grid-small " uk-grid>
                <div class="uk-width-1-2 uk-margin-bottom">
                    <div class="uk-text-bold uk-width-1-2 uk-margin-bottom-small">
                        <p>Anzahl der Aktien im Depot</p>
                    </div>
                    <div class="uk-width-1-2 uk-margin-bottom-small">
                        <p class="uk-align-right">{{ positionModalLp.amount | number: '.' | removeComma}} STK</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>